html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: #444;
  font-family: sans-serif;
}

::selection {
  background-color: #444;
  color: #f4f4f4;
}
